<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin:auto
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;

  }
  table tr:nth-child(even) {
    background-color: #ffffff;

  }
  </style>
  <p class="has-text-centered" *ngIf="nombre !null">Le(s) {{nombreDeTable}} tables de multiplication avant celui de {{nombre}}</p>
  <table *ngIf="nombre !null" >
    <tr *ngFor="let i of tableau"  >
      <th *ngIf="nombreDeTable >= 0">{{ nombre-tableau[0] }}x{{ i }} = {{ (nombre-tableau[0]) * i }}</th>
      <th *ngIf="nombreDeTable >= 2">{{ nombre-tableau[1] }}x{{ i }} = {{ (nombre-tableau[1]) * i }}</th>
      <th *ngIf="nombreDeTable >= 3">{{ nombre-tableau[2] }}x{{ i }} = {{ (nombre-tableau[2]) * i }}</th>
      <th *ngIf="nombreDeTable >= 4">{{ nombre-tableau[3] }}x{{ i }} = {{ (nombre-tableau[3]) * i }}</th>
      <th *ngIf="nombreDeTable >= 5">{{ nombre-tableau[4] }}x{{ i }} = {{ (nombre-tableau[4]) * i }}</th>
      <th *ngIf="nombreDeTable >= 6">{{ nombre-tableau[5] }}x{{ i }} = {{ (nombre-tableau[5]) * i }}</th>
      <th *ngIf="nombreDeTable >= 7">{{ nombre-tableau[6] }}x{{ i }} = {{ (nombre-tableau[6]) * i }}</th>
      <th *ngIf="nombreDeTable >= 8">{{ nombre-tableau[7] }}x{{ i }} = {{ (nombre-tableau[7]) * i }}</th>
      <th *ngIf="nombreDeTable >= 9">{{ nombre-tableau[8] }}x{{ i }} = {{ (nombre-tableau[8]) * i }}</th>
      <th *ngIf="nombreDeTable >= 10">{{ nombre-tableau[9] }}x{{ i }} = {{ (nombre-tableau[9]) * i }}</th>
    </tr>
  </table>