
<section>
    <div class="container">
        <div class="column is-centered">
            <h3 class="title is-3">table de multiplication</h3>
            <h4>veuillez saisir un nombre</h4>
            <form [formGroup]='tableForm' (ngSubmit)='numberSubmitted()'>
                <p [ngClass]="{ 'has-error': isSubmitted && emptyForm || maximumTable }">
                 <input class="input is-succes" formControlName="nombre" type="number" placeholder="nombre à multiplier" value="">
                 <input class="input is-succes" formControlName="nombreDeTable" type="number" placeholder="Nombre de table afficher à par défaut et limité à 10 " max="10">
                </p>
                <div *ngIf="isSubmitted && emptyForm" class="help-block">
                    <div *ngIf="emptyForm">Un nombre est demandé !</div>
                </div>
                 <div class="field is-grouped">
                    <div class="control" >
                      <button class="button">Soumettre</button>
                    </div>
                 </div>
            </form>
        </div>
       
    </div>

</section>
<div *ngIf="isSubmitted && (!emptyForm)">
    <app-table-multiplication [nombre]="nombre" >
    </app-table-multiplication>
</div>

<app-tables-multiplication [nombreDeTable]="nombreDeTable" [nombre]="nombre">

</app-tables-multiplication>

