<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>
<div >
  <table class="has-text-centered">
    <tr *ngFor="let i of tableau">   
      <th>{{ nombre }}x{{ i }} = {{ nombre * i }}</th> 
    </tr>
  </table>
</div>
